streamlit>=1.28.0
opencv-python-headless==4.8.1.78
numpy==1.26.4
pandas==2.2.2
# torch==2.1.2
# torchvision==0.16.2
torch==2.1.2+cpu
torchvision==0.16.2+cpu
easyocr>=1.7.2
ultralytics==8.1.0
streamlit-option-menu==0.3.6
pillow==10.3.0
# python-doctr[torch]==0.8.1